<div class="flex flex-col gap-6 mt-4">

  <div>
    <h1 class="text-xl font-bold text-foreground">Configuration</h1>
    <p class="text-sm text-muted-foreground">Paramétrage général de l'application</p>
  </div>

  <app-tabs>
    <app-tab label="Agences">
      <app-config-agences />
    </app-tab>
    <app-tab label="ASC">
      <app-config-asc />
    </app-tab>
    <app-tab label="Crédit">
      <app-config-credit />
    </app-tab>
    <app-tab label="Zonification">
      <app-config-zonification />
    </app-tab>
  </app-tabs>

</div>
